/* MyCalendar.css */

/* نمط الحاوية */
.calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 100%; /* جعل الحاوية متجاوبة */
  }
  
  /* نمط التقويم */
  .rbc-calendar {
    height: 500px;
    width: 100%; /* عرض كامل */
    max-width: 800px; /* حد أقصى للعرض */
    margin: 50px auto; /* محاذاة وسط الشاشة */
    border-radius: 10px; /* زوايا دائرية */
    overflow: hidden; /* إخفاء أي جزء زائد */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* تأثير الظل */
  }
  
  /* نمط شريط العنوان */
  .rbc-toolbar {
    background: #f5f5f5; /* لون الخلفية */
    border-bottom: 1px solid #e0e0e0; /* حد أسفل */
    padding: 10px;
  }
  
  /* نمط الأحداث */
  .rbc-event {
    background-color: #1976d2; /* لون الخلفية */
    color: white; /* لون النص */
    padding: 5px 10px; /* هوامش داخلية */
    border-radius: 5px; /* زوايا دائرية */
    cursor: pointer; /* شكل المؤشر عند المرور */
    transition: background-color 0.3s; /* تأثير انتقال */
  }
  
  .rbc-event:hover {
    background-color: #115293; /* لون الخلفية عند المرور */
  }
  
  /* نمط المودال */
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px; /* زوايا دائرية */
    width: 90%; /* عرض مرن */
    max-width: 400px; /* حد أقصى للعرض */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* تأثير الظل */
  }
  
  .close-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #f44336; /* لون الخلفية */
    color: #fff; /* لون النص */
    border: none;
    border-radius: 5px; /* زوايا دائرية */
    cursor: pointer; /* شكل المؤشر عند المرور */
    transition: background-color 0.3s; /* تأثير انتقال */
  }
  
  .close-button:hover {
    background-color: #d32f2f; /* لون الخلفية عند المرور */
  }
  